* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f8f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(111, 108, 108, 0.1);
    overflow: hidden;
    box-shadow: 5px 0px 5px 5px rgb(109, 107, 107);
}

.login-container, .signup-container {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    background-color: #fcf8f8;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #ffffff;
    color: rgb(10, 10, 10);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #27dde6;
}

.signup-container {
    background-color: #58ebe8;
    text-align: center;
}

.signup-container p {
    margin-bottom: 20px;
    color: #666;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .login-container, .signup-container {
        width: 100%;
        padding: 20px;
    }
}